@page "/additem"
 
<div class="container">
    <EditForm Model="@art" OnValidSubmit="@ValidateUser">

        <div class="row">
            <h3 style="font-weight:bold; color:purple">Add Article</h3>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row"> <Label>P/N Part Number</Label></div>
                <div class="row"><input type="text" class="form-control col-6" @bind="art.PN" placeholder="Part Number" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row"><Label>Descrizione</Label></div>
                <div class="row"><input type="text" class="form-control col-6" @bind="art.DESCRIZIONE" placeholder="Descrizione" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row"><Label>Stato Articolo</Label></div>
                <div class="row">
                    <select class="form-control col-6" @bind="art.SATATO">
                        <option value="1">NEW</option>
                        <option value="2">O/H</option>
                        <option value="3">USED</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row"><Label>Reparto</Label></div>
                <div class="row">
                    <select class="form-control col-6" @bind="art.ID_REPARTO">
                        <option value="0">Not Selected</option>
                        @foreach (reparto r in rep)
                        {
                            <option value="@r.ID">@r.DESCRIZIONE</option>
                        }

                    </select>
                </div>
               </div>
        </div>


                    <div class="col-6 row">
                        <Label>Certificazione</Label><br />
                    </div>
                    <div class="col-6 row">

                        <input type="text" class="form-control col-6" @bind="art.CERTIFICAZIONE" placeholder="Certificazione" />
                    </div>
                    <div class="col-6 row">
                        <Label>Certificato</Label><br />
                    </div>
                    <div class="col-6 row">
                        <select class="form-control col-6" @bind="art.CERTIFICATO">
                            <option value="0">SI</option>
                            <option value="1">NO</option>

                        </select>
                    </div>
                    <div class="col-6 row">
                        <Label>Quantità</Label><br />
                    </div>
                    <div class="col-6 row">
                        <input type="text" class="form-control col-6" @bind="art.QTA" placeholder="Quantita" />
                    </div>
                    <div class="col-6 row">
                        <Label>Valore</Label><br />
                    </div>
                    <div class="col-6 row">
                        <input type="text" class="form-control col-6" @bind="art.COSTO" placeholder="Valore" />
                    </div>
                    <div class="row">
                        <br />
                    </div>
                   
        <div class="col-6 row">
                        <span class="col-6"></span>
                        <input type="submit" class="form-control col-6 btn btn-primary" value="Save" />
                        <div class="col-6 row" style="text-align:left; font-weight:bold">
                            <span class="col-12">@Message</span>
                        </div>
                    </div>


    </EditForm>
</div>

@code {

    public articoli art { get; set; } = new articoli();
    public List<reparto> rep { get; set; } = new List<reparto>();

    public string Message;

    protected override void OnInitialized()
    {
        dal d = new dal();
        rep = d.GetReparti();

    }



    private void ValidateUser()
    {
        dal d = new dal();
        d.AddItem(art);

    }

}
